In [44]:
import pandas as pd
import os

In [45]:
#import table 5 file
df = pd.read_csv(r'../raw_data/Table13_TFW_Positive_LMIAs_By_Stream_Province_2016_2023.csv', encoding='ISO-8859-1',skiprows=1)
df.tail(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
114,Permanent Resident Only,0,0,0,0,0,0,0,0
115,Primary Agriculture,0,0,0,1,1,1,1,0
116,Northwest Territories - Total,64,46,21,56,29,30,132,124
117,Nunavut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,2016,2017,2018,2019,2020,2021,2022,2023
120,Global Talent,0,0,0,0,0,0,0,1
121,High-Wage,57,34,49,29,28,30,24,45
122,Low-Wage,88,6,83,104,18,33,64,76
123,Permanent Resident Only,0,1,0,0,0,0,0,0
124,Primary Agriculture,0,0,0,0,0,0,0,0
125,Nunavut - Total,145,41,132,133,46,63,88,122
126,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,1. The source for all information in this rele...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,2. Global Talent Stream two-year pilot was lau...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,3. A positive LMIA in support of Permanent Res...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,7. As of the publication of 2023 annual data (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df = df.iloc[:-8]

In [47]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
121,High-Wage,57,34,49,29,28,30,24,45
122,Low-Wage,88,6,83,104,18,33,64,76
123,Permanent Resident Only,0,1,0,0,0,0,0,0
124,Primary Agriculture,0,0,0,0,0,0,0,0
125,Nunavut - Total,145,41,132,133,46,63,88,122

In [48]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,Global Talent,0,767,"2,850","4,138","3,227","5,061","8,493","4,652"
4,High-Wage,"17,715","16,718","14,456","25,010","20,772","20,462","45,721","45,874"
5,Low-Wage,"15,817","19,120","21,394","28,121","26,885","29,007","78,048","83,654"
6,Permanent Resident Only,"2,554","1,082",962,"1,102","2,133","1,325","1,494","4,397"
7,Primary Agriculture,"54,203","60,457","69,326","72,086","72,262","77,341","89,091","101,069"
8,Canada - Total,"90,314","98,146","108,988","130,457","125,279","133,196","222,847","239,646"
9,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2016,2017,2018,2019,2020,2021,2022,2023
12,Global Talent,0,0,2,21,2,11,3,6
13,High-Wage,"1,537","1,026",316,337,651,476,630,453
14,Low-Wage,164,152,113,68,193,132,717,"1,106"
15,Permanent Resident Only,4,3,0,2,0,2,0,2
16,Primary Agriculture,36,36,46,67,81,73,103,101
17,Newfoundland and Labrador - Total,"1,741","1,217",477,495,927,694,"1,453","1,668"
18,Prince Edward Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#remove row contain "stream"
df['Unnamed: 0'] = df['Unnamed: 0'].where(~df['Unnamed: 0'].str.contains('Stream', na=False))

In [50]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,Global Talent,0,767,"2,850","4,138","3,227","5,061","8,493","4,652"
4,High-Wage,"17,715","16,718","14,456","25,010","20,772","20,462","45,721","45,874"
...,...,...,...,...,...,...,...,...,...
121,High-Wage,57,34,49,29,28,30,24,45
122,Low-Wage,88,6,83,104,18,33,64,76
123,Permanent Resident Only,0,1,0,0,0,0,0,0
124,Primary Agriculture,0,0,0,0,0,0,0,0
125,Nunavut - Total,145,41,132,133,46,63,88,122

In [51]:
#Create a new column for province/region name
df['province_region'] = df['Unnamed: 0'].where(df['Unnamed: 1'].isna() & ~df['Unnamed: 0'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['Unnamed: 0'].str.contains('Total', na=False)]

In [52]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,province_region
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023,Canada
3,Global Talent,0,767,"2,850","4,138","3,227","5,061","8,493","4,652",Canada
4,High-Wage,"17,715","16,718","14,456","25,010","20,772","20,462","45,721","45,874",Canada
...,...,...,...,...,...,...,...,...,...,...
120,Global Talent,0,0,0,0,0,0,0,1,Nunavut
121,High-Wage,57,34,49,29,28,30,24,45,Nunavut
122,Low-Wage,88,6,83,104,18,33,64,76,Nunavut
123,Permanent Resident Only,0,1,0,0,0,0,0,0,Nunavut
124,Primary Agriculture,0,0,0,0,0,0,0,0,Nunavut

In [53]:
df = df.dropna(how='any')

In [55]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,province_region
3,Global Talent,0,767,"2,850","4,138","3,227","5,061","8,493","4,652",Canada
4,High-Wage,"17,715","16,718","14,456","25,010","20,772","20,462","45,721","45,874",Canada
5,Low-Wage,"15,817","19,120","21,394","28,121","26,885","29,007","78,048","83,654",Canada
6,Permanent Resident Only,"2,554","1,082",962,"1,102","2,133","1,325","1,494","4,397",Canada
7,Primary Agriculture,"54,203","60,457","69,326","72,086","72,262","77,341","89,091","101,069",Canada
12,Global Talent,0,0,2,21,2,11,3,6,Newfoundland and Labrador
13,High-Wage,"1,537","1,026",316,337,651,476,630,453,Newfoundland and Labrador
14,Low-Wage,164,152,113,68,193,132,717,"1,106",Newfoundland and Labrador
15,Permanent Resident Only,4,3,0,2,0,2,0,2,Newfoundland and Labrador
16,Primary Agriculture,36,36,46,67,81,73,103,101,Newfoundland and Labrador
21,Global Talent,0,0,1,2,8,3,5,3,Prince Edward Island
22,High-Wage,124,129,116,84,61,69,119,94,Prince Edward Island
23,Low-Wage,462,509,487,566,901,924,"1,488",901,Prince Edward Island
24,Permanent Resident Only,0,0,0,1,0,0,0,1,Prince Edward Island
25,Primary Agriculture,360,418,408,526,754,508,679,712,Prince Edward Island
30,Global Talent,0,5,8,33,31,106,141,69,Nova Scotia
31,High-Wage,571,383,320,334,184,287,429,444,Nova Scotia
32,Low-Wage,267,425,345,491,689,1354,2106,1997,Nova Scotia
33,Permanent Resident Only,3,1,2,0,3,2,10,10,Nova Scotia
34,Primary Agriculture,1615,"1,889","2,719","1,965","2,352","2,412","2,907","2,917",Nova Scotia

In [56]:
df.rename(columns={
    'Unnamed: 0' :	'Stream',
    'Unnamed: 1' :	'2016',
    'Unnamed: 2' :	'2017',
    'Unnamed: 3' :	'2018',
    'Unnamed: 4' :	'2019',
    'Unnamed: 5' :	'2020',
    'Unnamed: 6' :	'2021',
    'Unnamed: 7' :	'2022',
    'Unnamed: 8' :	'2023'
}, inplace=True)

C:\Users\Johnn\AppData\Local\Temp\ipykernel_20972\589784836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [57]:
df

,Stream,2016,2017,2018,2019,2020,2021,2022,2023,province_region
3,Global Talent,0,767,"2,850","4,138","3,227","5,061","8,493","4,652",Canada
4,High-Wage,"17,715","16,718","14,456","25,010","20,772","20,462","45,721","45,874",Canada
5,Low-Wage,"15,817","19,120","21,394","28,121","26,885","29,007","78,048","83,654",Canada
6,Permanent Resident Only,"2,554","1,082",962,"1,102","2,133","1,325","1,494","4,397",Canada
7,Primary Agriculture,"54,203","60,457","69,326","72,086","72,262","77,341","89,091","101,069",Canada
...,...,...,...,...,...,...,...,...,...,...
120,Global Talent,0,0,0,0,0,0,0,1,Nunavut
121,High-Wage,57,34,49,29,28,30,24,45,Nunavut
122,Low-Wage,88,6,83,104,18,33,64,76,Nunavut
123,Permanent Resident Only,0,1,0,0,0,0,0,0,Nunavut
124,Primary Agriculture,0,0,0,0,0,0,0,0,Nunavut

In [58]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'Table13_TFW_Positive_LMIAs_By_Stream_Province_2016_2023_cleaned.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)