In [1]:
import pandas as pd
import os

In [2]:
# Use a raw string literal for the file path
file_path = r'C:\Users\Johnn\Desktop\Data Engineer project\LMIA_evaluation_project\raw_data\Table23_TFW_Positive_LMIAs_By_EconomicRegion_NOC_SkillLevel_Province_2016_2023.xlsx'

# Load the Excel file using the openpyxl engine
df = pd.read_excel(file_path, engine='openpyxl',skiprows=1)

# Display the first few rows of the data to verify it loaded correctly
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Occupational Skill Level,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0
1,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Economic Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1010 - Avalon Peninsula,0,16.0,10.0,8.0,7.0,0.0,3.0,2.0,2.0
4,1010 - Avalon Peninsula,A,31.0,8.0,8.0,24.0,12.0,11.0,5.0,8.0

In [3]:
# Convert all numeric columns to the nullable integer type to handle missing values properly
for column in df.select_dtypes(include='float').columns:
    df[column] = df[column].astype('Int64')  # Use 'Int64' to support missing values

# Display the first few rows to verify the conversion
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
1,Newfoundland and Labrador,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Economic Region,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1010 - Avalon Peninsula,0,16,10,8,7,0,3,2,2
4,1010 - Avalon Peninsula,A,31,8,8,24,12,11,5,8
5,1010 - Avalon Peninsula,B,129,62,50,45,21,24,71,52
6,1010 - Avalon Peninsula,C,43,64,86,25,46,30,295,403
7,1010 - Avalon Peninsula,D,0,0,0,0,0,6,210,375
8,1020 - South Coast--Burin Peninsula,0,0,1,1,0,0,1,2,2
9,1020 - South Coast--Burin Peninsula,A,0,0,3,2,2,1,0,3
10,1020 - South Coast--Burin Peninsula,B,0,8,0,1,0,0,9,1
11,1020 - South Coast--Burin Peninsula,C,1,0,0,0,0,2,25,50
12,1020 - South Coast--Burin Peninsula,D,0,0,0,0,0,0,0,5
13,1030 - West Coast--Northern Peninsula--Labrador,0,3,0,5,0,0,1,0,1
14,1030 - West Coast--Northern Peninsula--Labrador,A,16,7,3,5,9,2,4,8
15,1030 - West Coast--Northern Peninsula--Labrador,B,20,13,34,24,15,36,33,38
16,1030 - West Coast--Northern Peninsula--Labrador,C,10,13,14,10,11,12,44,74
17,1030 - West Coast--Northern Peninsula--Labrador,D,0,1,0,0,10,2,27,30
18,1040 - Notre Dame--Central Bonavista Bay,0,0,1,0,0,0,2,2,5
19,1040 - Notre Dame--Central Bonavista Bay,A,11,1,4,6,11,13,10,7

In [4]:
df.tail(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
459,6210 - Nunavut,0,2,1,4,0,1,0,2,0
460,6210 - Nunavut,A,7,14,8,1,0,5,0,3
461,6210 - Nunavut,B,31,10,57,71,29,43,56,84
462,6210 - Nunavut,C,102,16,50,58,15,13,18,25
463,6210 - Nunavut,D,3,0,13,3,1,2,12,10
464,Total,,145,41,132,133,46,63,88,122
465,Notes:,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
466,1. The source for all information in this repo...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
467,2. As of the publication of 2023 annual data ...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
468,"3. Effective November 2016, NOC 2011 is being ...",NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
469,4. An economic region is defined by Statistics...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
470,"5. ""Other"" indicates that the location of empl...",NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
471,6. Each LMIA application submitted is restrict...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
472,"7. The LMIA System tracks TFW positions only, ...",NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
473,8. The numbers appearing in this release may d...,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [5]:
df = df.iloc[:-9]
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
460,6210 - Nunavut,A,7,14,8,1,0,5,0,3
461,6210 - Nunavut,B,31,10,57,71,29,43,56,84
462,6210 - Nunavut,C,102,16,50,58,15,13,18,25
463,6210 - Nunavut,D,3,0,13,3,1,2,12,10
464,Total,,145,41,132,133,46,63,88,122

In [6]:
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
1,Newfoundland and Labrador,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Economic Region,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1010 - Avalon Peninsula,0,16,10,8,7,0,3,2,2
4,1010 - Avalon Peninsula,A,31,8,8,24,12,11,5,8
5,1010 - Avalon Peninsula,B,129,62,50,45,21,24,71,52
6,1010 - Avalon Peninsula,C,43,64,86,25,46,30,295,403
7,1010 - Avalon Peninsula,D,0,0,0,0,0,6,210,375
8,1020 - South Coast--Burin Peninsula,0,0,1,1,0,0,1,2,2
9,1020 - South Coast--Burin Peninsula,A,0,0,3,2,2,1,0,3
10,1020 - South Coast--Burin Peninsula,B,0,8,0,1,0,0,9,1
11,1020 - South Coast--Burin Peninsula,C,1,0,0,0,0,2,25,50
12,1020 - South Coast--Burin Peninsula,D,0,0,0,0,0,0,0,5
13,1030 - West Coast--Northern Peninsula--Labrador,0,3,0,5,0,0,1,0,1
14,1030 - West Coast--Northern Peninsula--Labrador,A,16,7,3,5,9,2,4,8

In [7]:
# Define new column names in the desired order
new_column_names = ['province_region','Occupational Skill Level', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Rename the columns by mapping the old names to the new names in order
df.columns = new_column_names

In [8]:
df.head(20)

,province_region,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
1,Newfoundland and Labrador,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Economic Region,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1010 - Avalon Peninsula,0,16,10,8,7,0,3,2,2
4,1010 - Avalon Peninsula,A,31,8,8,24,12,11,5,8
5,1010 - Avalon Peninsula,B,129,62,50,45,21,24,71,52
6,1010 - Avalon Peninsula,C,43,64,86,25,46,30,295,403
7,1010 - Avalon Peninsula,D,0,0,0,0,0,6,210,375
8,1020 - South Coast--Burin Peninsula,0,0,1,1,0,0,1,2,2
9,1020 - South Coast--Burin Peninsula,A,0,0,3,2,2,1,0,3
10,1020 - South Coast--Burin Peninsula,B,0,8,0,1,0,0,9,1
11,1020 - South Coast--Burin Peninsula,C,1,0,0,0,0,2,25,50
12,1020 - South Coast--Burin Peninsula,D,0,0,0,0,0,0,0,5
13,1030 - West Coast--Northern Peninsula--Labrador,0,3,0,5,0,0,1,0,1
14,1030 - West Coast--Northern Peninsula--Labrador,A,16,7,3,5,9,2,4,8
15,1030 - West Coast--Northern Peninsula--Labrador,B,20,13,34,24,15,36,33,38
16,1030 - West Coast--Northern Peninsula--Labrador,C,10,13,14,10,11,12,44,74
17,1030 - West Coast--Northern Peninsula--Labrador,D,0,1,0,0,10,2,27,30
18,1040 - Notre Dame--Central Bonavista Bay,0,0,1,0,0,0,2,2,5
19,1040 - Notre Dame--Central Bonavista Bay,A,11,1,4,6,11,13,10,7

In [9]:
df = df.dropna(how='any')

In [10]:
df.head(15)

,province_region,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023
3,1010 - Avalon Peninsula,0,16,10,8,7,0,3,2,2
4,1010 - Avalon Peninsula,A,31,8,8,24,12,11,5,8
5,1010 - Avalon Peninsula,B,129,62,50,45,21,24,71,52
6,1010 - Avalon Peninsula,C,43,64,86,25,46,30,295,403
7,1010 - Avalon Peninsula,D,0,0,0,0,0,6,210,375
8,1020 - South Coast--Burin Peninsula,0,0,1,1,0,0,1,2,2
9,1020 - South Coast--Burin Peninsula,A,0,0,3,2,2,1,0,3
10,1020 - South Coast--Burin Peninsula,B,0,8,0,1,0,0,9,1
11,1020 - South Coast--Burin Peninsula,C,1,0,0,0,0,2,25,50
12,1020 - South Coast--Burin Peninsula,D,0,0,0,0,0,0,0,5
13,1030 - West Coast--Northern Peninsula--Labrador,0,3,0,5,0,0,1,0,1
14,1030 - West Coast--Northern Peninsula--Labrador,A,16,7,3,5,9,2,4,8
15,1030 - West Coast--Northern Peninsula--Labrador,B,20,13,34,24,15,36,33,38
16,1030 - West Coast--Northern Peninsula--Labrador,C,10,13,14,10,11,12,44,74
17,1030 - West Coast--Northern Peninsula--Labrador,D,0,1,0,0,10,2,27,30

In [11]:
#Create new columns for skill level  and Occupational code  seperatelly
df[['Region_Code','Region_Name']] = df['province_region'].str.extract(r'(\w+) - (.*)')
# Drop the original column after splitting
df = df.drop(columns=['province_region'])

In [12]:
df.head(10)

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023,Region_Code,Region_Name
3,0,16,10,8,7,0,3,2,2,1010,Avalon Peninsula
4,A,31,8,8,24,12,11,5,8,1010,Avalon Peninsula
5,B,129,62,50,45,21,24,71,52,1010,Avalon Peninsula
6,C,43,64,86,25,46,30,295,403,1010,Avalon Peninsula
7,D,0,0,0,0,0,6,210,375,1010,Avalon Peninsula
8,0,0,1,1,0,0,1,2,2,1020,South Coast--Burin Peninsula
9,A,0,0,3,2,2,1,0,3,1020,South Coast--Burin Peninsula
10,B,0,8,0,1,0,0,9,1,1020,South Coast--Burin Peninsula
11,C,1,0,0,0,0,2,25,50,1020,South Coast--Burin Peninsula
12,D,0,0,0,0,0,0,0,5,1020,South Coast--Burin Peninsula

In [13]:
df =df.reset_index(drop=True)

In [14]:
df

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023,Region_Code,Region_Name
0,0,16,10,8,7,0,3,2,2,1010,Avalon Peninsula
1,A,31,8,8,24,12,11,5,8,1010,Avalon Peninsula
2,B,129,62,50,45,21,24,71,52,1010,Avalon Peninsula
3,C,43,64,86,25,46,30,295,403,1010,Avalon Peninsula
4,D,0,0,0,0,0,6,210,375,1010,Avalon Peninsula
...,...,...,...,...,...,...,...,...,...,...,...
446,A,7,14,8,1,0,5,0,3,6210,Nunavut
447,B,31,10,57,71,29,43,56,84,6210,Nunavut
448,C,102,16,50,58,15,13,18,25,6210,Nunavut
449,D,3,0,13,3,1,2,12,10,6210,Nunavut
450,,145,41,132,133,46,63,88,122,NaN,NaN

In [15]:
df.dtypes

Occupational Skill Level    object
2016                         Int64
2017                         Int64
2018                         Int64
2019                         Int64
2020                         Int64
2021                         Int64
2022                         Int64
2023                         Int64
Region_Code                 object
Region_Name                 object
dtype: object

In [16]:
df = df.dropna(how='any')

In [17]:
df

,Occupational Skill Level,2016,2017,2018,2019,2020,2021,2022,2023,Region_Code,Region_Name
0,0,16,10,8,7,0,3,2,2,1010,Avalon Peninsula
1,A,31,8,8,24,12,11,5,8,1010,Avalon Peninsula
2,B,129,62,50,45,21,24,71,52,1010,Avalon Peninsula
3,C,43,64,86,25,46,30,295,403,1010,Avalon Peninsula
4,D,0,0,0,0,0,6,210,375,1010,Avalon Peninsula
...,...,...,...,...,...,...,...,...,...,...,...
445,0,2,1,4,0,1,0,2,0,6210,Nunavut
446,A,7,14,8,1,0,5,0,3,6210,Nunavut
447,B,31,10,57,71,29,43,56,84,6210,Nunavut
448,C,102,16,50,58,15,13,18,25,6210,Nunavut
449,D,3,0,13,3,1,2,12,10,6210,Nunavut

In [18]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_tfw_positions_econ_region_noc_lvl.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)