In [1]:
import pandas as pd
import os

In [2]:
#import table 5 file
df = pd.read_csv(r'../raw_data/Table05_TFW_Positive_LMIAs_By_NOC_SkillType_Province_2016_2023.csv', encoding='ISO-8859-1',skiprows=1)
df.tail(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
170,Nunavut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
172,0 - Management occupations,2,1,4,0,1,0,2,0
173,"1 - Business, finance and administration occup...",3,0,1,1,3,3,1,3
174,2 - Natural and applied sciences and related o...,12,13,27,16,18,17,16,40
175,3 - Health occupations,2,1,1,0,0,1,3,0
176,"4 - Occupations in education, law and social, ...",6,6,10,2,2,2,1,1
177,"5 - Occupations in art, culture, recreation an...",7,1,8,1,0,2,0,0
178,6 - Sales and service occupations,98,15,49,71,7,9,46,39
179,"7 - Trades, transport and equipment operators ...",15,4,32,42,15,29,19,39
180,"8 - Natural resources, agriculture and related...",0,0,0,0,0,0,0,0
181,9 - Occupations in manufacturing and utilities,0,0,0,0,0,0,0,0
182,Nunavut - Total,145,41,132,133,46,63,88,122
183,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,1. The source for all information in this rele...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,"2. Effective November 2016, NOC 2011 is being ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,3. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,"4. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,5. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,6. As of the publication of 2023 annual data (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:-7]

In [4]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
3,0 - Management occupations,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663"
4,"1 - Business, finance and administration occup...","1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789"
5,2 - Natural and applied sciences and related o...,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101"
6,3 - Health occupations,666,509,447,932,"1,238","1,389","3,151","4,336"
7,"4 - Occupations in education, law and social, ...","6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055"
8,"5 - Occupations in art, culture, recreation an...","4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345"
9,6 - Sales and service occupations,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549"
10,"7 - Trades, transport and equipment operators ...","6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981"
11,"8 - Natural resources, agriculture and related...","54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706"
12,9 - Occupations in manufacturing and utilities,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110"
13,Canada - Total,"90,314","98,146","108,988","130,457","125,279","133,196","222,847","239,646"
14,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
16,0 - Management occupations,75,34,14,9,17,23,11,14
17,"1 - Business, finance and administration occup...",16,6,5,6,14,18,11,18
18,2 - Natural and applied sciences and related o...,707,469,117,196,185,166,206,136
19,3 - Health occupations,28,10,8,13,31,18,15,23

In [5]:
#rename columns

df.rename(columns={
    'Unnamed: 0':'Skill Type and Description',	
    'Unnamed: 1':'2016'	,
    'Unnamed: 2':'2017'	,
    'Unnamed: 3':'2018'	,
    'Unnamed: 4':'2019'	,
    'Unnamed: 5':'2020'	,
    'Unnamed: 6':'2021'	,
    'Unnamed: 7':'2022'	,
    'Unnamed: 8':'2023'
    }, inplace=True)

In [6]:
df.head(20)

,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
3,0 - Management occupations,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663"
4,"1 - Business, finance and administration occup...","1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789"
5,2 - Natural and applied sciences and related o...,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101"
6,3 - Health occupations,666,509,447,932,"1,238","1,389","3,151","4,336"
7,"4 - Occupations in education, law and social, ...","6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055"
8,"5 - Occupations in art, culture, recreation an...","4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345"
9,6 - Sales and service occupations,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549"
10,"7 - Trades, transport and equipment operators ...","6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981"
11,"8 - Natural resources, agriculture and related...","54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706"
12,9 - Occupations in manufacturing and utilities,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110"
13,Canada - Total,"90,314","98,146","108,988","130,457","125,279","133,196","222,847","239,646"
14,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023
16,0 - Management occupations,75,34,14,9,17,23,11,14
17,"1 - Business, finance and administration occup...",16,6,5,6,14,18,11,18
18,2 - Natural and applied sciences and related o...,707,469,117,196,185,166,206,136
19,3 - Health occupations,28,10,8,13,31,18,15,23

In [7]:
#Create a new column for province/region name
df['province_region'] = df['Skill Type and Description'].where(df['2016'].isna() & ~df['Skill Type and Description'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['Skill Type and Description'].str.contains('Total', na=False)]

In [8]:
df.head(20)

,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,province_region
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
2,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,Canada
3,0 - Management occupations,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663",Canada
4,"1 - Business, finance and administration occup...","1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789",Canada
5,2 - Natural and applied sciences and related o...,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101",Canada
6,3 - Health occupations,666,509,447,932,"1,238","1,389","3,151","4,336",Canada
7,"4 - Occupations in education, law and social, ...","6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055",Canada
8,"5 - Occupations in art, culture, recreation an...","4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345",Canada
9,6 - Sales and service occupations,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549",Canada
10,"7 - Trades, transport and equipment operators ...","6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981",Canada
11,"8 - Natural resources, agriculture and related...","54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706",Canada
12,9 - Occupations in manufacturing and utilities,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110",Canada
14,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Newfoundland and Labrador
15,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,Newfoundland and Labrador
16,0 - Management occupations,75,34,14,9,17,23,11,14,Newfoundland and Labrador
17,"1 - Business, finance and administration occup...",16,6,5,6,14,18,11,18,Newfoundland and Labrador
18,2 - Natural and applied sciences and related o...,707,469,117,196,185,166,206,136,Newfoundland and Labrador
19,3 - Health occupations,28,10,8,13,31,18,15,23,Newfoundland and Labrador
20,"4 - Occupations in education, law and social, ...",25,13,11,7,4,1,6,6,Newfoundland and Labrador

In [9]:
# The rows after region names have NaN values for the year columns
df = df.dropna(subset=['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'], how='all')
df.head(20)

,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,province_region
2,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,Canada
3,0 - Management occupations,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663",Canada
4,"1 - Business, finance and administration occup...","1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789",Canada
5,2 - Natural and applied sciences and related o...,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101",Canada
6,3 - Health occupations,666,509,447,932,"1,238","1,389","3,151","4,336",Canada
7,"4 - Occupations in education, law and social, ...","6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055",Canada
8,"5 - Occupations in art, culture, recreation an...","4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345",Canada
9,6 - Sales and service occupations,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549",Canada
10,"7 - Trades, transport and equipment operators ...","6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981",Canada
11,"8 - Natural resources, agriculture and related...","54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706",Canada
12,9 - Occupations in manufacturing and utilities,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110",Canada
15,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,Newfoundland and Labrador
16,0 - Management occupations,75,34,14,9,17,23,11,14,Newfoundland and Labrador
17,"1 - Business, finance and administration occup...",16,6,5,6,14,18,11,18,Newfoundland and Labrador
18,2 - Natural and applied sciences and related o...,707,469,117,196,185,166,206,136,Newfoundland and Labrador
19,3 - Health occupations,28,10,8,13,31,18,15,23,Newfoundland and Labrador
20,"4 - Occupations in education, law and social, ...",25,13,11,7,4,1,6,6,Newfoundland and Labrador
21,"5 - Occupations in art, culture, recreation an...",11,9,1,6,2,1,0,1,Newfoundland and Labrador
22,6 - Sales and service occupations,173,83,49,50,38,85,136,192,Newfoundland and Labrador
23,"7 - Trades, transport and equipment operators ...",584,402,129,98,373,242,267,120,Newfoundland and Labrador

In [10]:
df = df[df['Skill Type and Description'] != 'Skill Type and Description']
df.head(20)

,Skill Type and Description,2016,2017,2018,2019,2020,2021,2022,2023,province_region
3,0 - Management occupations,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663",Canada
4,"1 - Business, finance and administration occup...","1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789",Canada
5,2 - Natural and applied sciences and related o...,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101",Canada
6,3 - Health occupations,666,509,447,932,"1,238","1,389","3,151","4,336",Canada
7,"4 - Occupations in education, law and social, ...","6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055",Canada
8,"5 - Occupations in art, culture, recreation an...","4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345",Canada
9,6 - Sales and service occupations,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549",Canada
10,"7 - Trades, transport and equipment operators ...","6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981",Canada
11,"8 - Natural resources, agriculture and related...","54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706",Canada
12,9 - Occupations in manufacturing and utilities,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110",Canada
16,0 - Management occupations,75,34,14,9,17,23,11,14,Newfoundland and Labrador
17,"1 - Business, finance and administration occup...",16,6,5,6,14,18,11,18,Newfoundland and Labrador
18,2 - Natural and applied sciences and related o...,707,469,117,196,185,166,206,136,Newfoundland and Labrador
19,3 - Health occupations,28,10,8,13,31,18,15,23,Newfoundland and Labrador
20,"4 - Occupations in education, law and social, ...",25,13,11,7,4,1,6,6,Newfoundland and Labrador
21,"5 - Occupations in art, culture, recreation an...",11,9,1,6,2,1,0,1,Newfoundland and Labrador
22,6 - Sales and service occupations,173,83,49,50,38,85,136,192,Newfoundland and Labrador
23,"7 - Trades, transport and equipment operators ...",584,402,129,98,373,242,267,120,Newfoundland and Labrador
24,"8 - Natural resources, agriculture and related...",70,103,85,93,111,113,218,266,Newfoundland and Labrador
25,9 - Occupations in manufacturing and utilities,52,88,58,17,152,27,583,892,Newfoundland and Labrador

In [11]:
# Split the column 'Management Occupations and Skill Level (A - D)' into 'skill_level' and 'occupation'
df[['Skill Type', 'Description']] = df['Skill Type and Description'].str.extract(r'(\w+) - (.*)')

# Drop the original column after splitting
df = df.drop(columns=['Skill Type and Description'])

In [12]:
df.head(10)

,2016,2017,2018,2019,2020,2021,2022,2023,province_region,Skill Type,Description
3,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663",Canada,0,Management occupations
4,"1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789",Canada,1,"Business, finance and administration occupations"
5,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101",Canada,2,Natural and applied sciences and related occup...
6,666,509,447,932,"1,238","1,389","3,151","4,336",Canada,3,Health occupations
7,"6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055",Canada,4,"Occupations in education, law and social, comm..."
8,"4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345",Canada,5,"Occupations in art, culture, recreation and sp..."
9,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549",Canada,6,Sales and service occupations
10,"6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981",Canada,7,"Trades, transport and equipment operators and ..."
11,"54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706",Canada,8,"Natural resources, agriculture and related pro..."
12,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110",Canada,9,Occupations in manufacturing and utilities

In [13]:
# Define the desired column order
desired_order = ['province_region', 'Description','Skill Type', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
# Reorder the DataFrame using the desired column order
df = df[desired_order]

In [14]:
df.head(10)

,province_region,Description,Skill Type,2016,2017,2018,2019,2020,2021,2022,2023
3,Canada,Management occupations,0,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663"
4,Canada,"Business, finance and administration occupations",1,"1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789"
5,Canada,Natural and applied sciences and related occup...,2,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101"
6,Canada,Health occupations,3,666,509,447,932,"1,238","1,389","3,151","4,336"
7,Canada,"Occupations in education, law and social, comm...",4,"6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055"
8,Canada,"Occupations in art, culture, recreation and sp...",5,"4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345"
9,Canada,Sales and service occupations,6,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549"
10,Canada,"Trades, transport and equipment operators and ...",7,"6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981"
11,Canada,"Natural resources, agriculture and related pro...",8,"54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706"
12,Canada,Occupations in manufacturing and utilities,9,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110"

In [15]:
# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [16]:
df.head(10)

,province_region,Description,Skill Type,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,Management occupations,0,"1,913","1,752","1,508","2,245","2,721","2,608","4,041","4,663"
1,Canada,"Business, finance and administration occupations",1,"1,101","1,214","1,175","2,581","2,982","2,619","7,281","10,789"
2,Canada,Natural and applied sciences and related occup...,2,"4,124","3,974","4,136","5,629","4,544","5,814","10,621","8,101"
3,Canada,Health occupations,3,666,509,447,932,"1,238","1,389","3,151","4,336"
4,Canada,"Occupations in education, law and social, comm...",4,"6,867","7,533","9,121","7,332","4,589","5,611","5,446","6,055"
5,Canada,"Occupations in art, culture, recreation and sp...",5,"4,536","3,035","2,719","2,673","1,249","1,399","2,738","2,345"
6,Canada,Sales and service occupations,6,"7,906","8,899","8,705","15,361","13,044","13,972","40,715","48,549"
7,Canada,"Trades, transport and equipment operators and ...",7,"6,450","6,945","7,270","14,733","12,699","12,734","32,614","33,981"
8,Canada,"Natural resources, agriculture and related pro...",8,"54,597","60,808","70,066","73,170","73,412","78,144","92,118","103,706"
9,Canada,Occupations in manufacturing and utilities,9,"2,154","3,477","3,841","5,796","8,795","8,905","24,117","17,110"

In [17]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'lmia_tfw_positions_noc_type_prov.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)