In [26]:
import pandas as pd
import os

In [27]:
#import table 5 file
df = pd.read_csv(r'../raw_data/Table17_Positive_LMIAs_By_NOC_SkillType_Province_2016_2023.csv', encoding='ISO-8859-1')
df.tail(20)

,"Number of Positive Labour Market Impact Assessments (LMIA) by National Occupational Classification - 2011 (NOC) Occupational Skill Type, and Province/Territory",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
183,Occupational Skill Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,2016,2017,2018,2019,2020,2021,2022,2023
185,0 - Management occupations,2,1,4,0,1,0,2,0
186,"1 - Business, finance and administration occup...",3,0,1,1,1,3,1,1
187,2 - Natural and applied sciences and related o...,12,1,25,7,8,8,7,23
188,3 - Health occupations,2,1,1,0,0,1,1,0
189,"4 - Occupations in education, law and social, ...",6,6,10,2,2,2,1,1
190,"5 - Occupations in art, culture, recreation an...",7,1,6,1,0,2,0,0
191,6 - Sales and service occupations,83,15,38,33,4,6,21,29
192,"7 - Trades, transport and equipment operators ...",15,2,19,16,7,21,8,28
193,"8 - Natural resources, agriculture and related...",0,0,0,0,0,0,0,0
194,9 - Occupations in manufacturing and utilities,0,0,0,0,0,0,0,0
195,Nunavut Total,130,27,104,60,23,43,41,82
196,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,1. The source for all information in this repo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2. As of the publication of 2023 annual data ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,"3. Effective November 2016, NOC 2011 is being ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,4. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,"5. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,6. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = df.iloc[:-7]
df.tail()

,"Number of Positive Labour Market Impact Assessments (LMIA) by National Occupational Classification - 2011 (NOC) Occupational Skill Type, and Province/Territory",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
191,6 - Sales and service occupations,83,15,38,33,4,6,21,29
192,"7 - Trades, transport and equipment operators ...",15,2,19,16,7,21,8,28
193,"8 - Natural resources, agriculture and related...",0,0,0,0,0,0,0,0
194,9 - Occupations in manufacturing and utilities,0,0,0,0,0,0,0,0
195,Nunavut Total,130,27,104,60,23,43,41,82

In [29]:
df.head(15)

,"Number of Positive Labour Market Impact Assessments (LMIA) by National Occupational Classification - 2011 (NOC) Occupational Skill Type, and Province/Territory",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Occupational Skill Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2016,2017,2018,2019,2020,2021,2022,2023
3,0 - Management occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,"1 - Business, finance and administration occup...","1,065","1,196","1,153","2,492","2,887","2,499","6,739","10,035"
5,2 - Natural and applied sciences and related o...,"3,350","3,238","3,465","5,003","4,200","5,360","9,419","7,204"
6,3 - Health occupations,617,478,401,682,869,972,"1,778","2,552"
7,"4 - Occupations in education, law and social, ...","6,797","7,458","9,003","7,153","4,451","5,515","5,142","5,467"
8,"5 - Occupations in art, culture, recreation an...","4,132","2,777","2,378","2,377","1,172","1,296","2,482","2,095"
9,6 - Sales and service occupations,"6,013","6,841","6,286","11,271","9,987","9,894","24,417","31,142"
10,"7 - Trades, transport and equipment operators ...","3,090","3,447","3,131","6,143","5,607","5,719","13,286","14,689"
11,"8 - Natural resources, agriculture and related...","8,332","8,344","9,430","11,037","11,243","12,192","15,146","15,252"
12,9 - Occupations in manufacturing and utilities,249,344,403,805,"1,143","1,140","3,206","3,252"
13,Canada Total,"35,479","35,824","37,102","49,144","44,207","47,157","85,514","96,159"
14,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Define new column names in the desired order
new_column_names = ['Occupational Skill Type', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# Rename the columns by mapping the old names to the new names in order
df.columns = new_column_names

#  Remove rows that contain "Occupational Skill Level" adn Nan value (since these are summary rows)
df = df[~df['Occupational Skill Type'].str.contains('Occupational', na=True)]

In [31]:
df

,Occupational Skill Type,2016,2017,2018,2019,2020,2021,2022,2023
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0 - Management occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,"1 - Business, finance and administration occup...","1,065","1,196","1,153","2,492","2,887","2,499","6,739","10,035"
5,2 - Natural and applied sciences and related o...,"3,350","3,238","3,465","5,003","4,200","5,360","9,419","7,204"
6,3 - Health occupations,617,478,401,682,869,972,"1,778","2,552"
...,...,...,...,...,...,...,...,...,...
191,6 - Sales and service occupations,83,15,38,33,4,6,21,29
192,"7 - Trades, transport and equipment operators ...",15,2,19,16,7,21,8,28
193,"8 - Natural resources, agriculture and related...",0,0,0,0,0,0,0,0
194,9 - Occupations in manufacturing and utilities,0,0,0,0,0,0,0,0
195,Nunavut Total,130,27,104,60,23,43,41,82

In [32]:
#Create a new column for province/region name
df['province_region'] = df['Occupational Skill Type'].where(df['2016'].isna() & ~df['Occupational Skill Type'].str.contains('Total', na=False))
#  Forward-fill the region name for all rows until a new region is found
df['province_region'] = df['province_region'].ffill()
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['province_region'].str.contains('Total', na=False)]

In [33]:
df

,Occupational Skill Type,2016,2017,2018,2019,2020,2021,2022,2023,province_region
0,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada
3,0 - Management occupations,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460",Canada
4,"1 - Business, finance and administration occup...","1,065","1,196","1,153","2,492","2,887","2,499","6,739","10,035",Canada
5,2 - Natural and applied sciences and related o...,"3,350","3,238","3,465","5,003","4,200","5,360","9,419","7,204",Canada
6,3 - Health occupations,617,478,401,682,869,972,"1,778","2,552",Canada
...,...,...,...,...,...,...,...,...,...,...
191,6 - Sales and service occupations,83,15,38,33,4,6,21,29,Nunavut
192,"7 - Trades, transport and equipment operators ...",15,2,19,16,7,21,8,28,Nunavut
193,"8 - Natural resources, agriculture and related...",0,0,0,0,0,0,0,0,Nunavut
194,9 - Occupations in manufacturing and utilities,0,0,0,0,0,0,0,0,Nunavut
195,Nunavut Total,130,27,104,60,23,43,41,82,Nunavut

In [34]:
df = df.dropna(how='any')

In [35]:
#Create new columns for skill level  and Occupational code  seperatelly
df[['Skill Type','Occupation']] = df['Occupational Skill Type'].str.extract(r'(\w+) - (.*)')
# Drop the original column after splitting
df = df.drop(columns=['Occupational Skill Type'])

C:\Users\Johnn\AppData\Local\Temp\ipykernel_32320\2276923103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Skill Type','Occupation']] = df['Occupational Skill Type'].str.extract(r'(\w+) - (.*)')
C:\Users\Johnn\AppData\Local\Temp\ipykernel_32320\2276923103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Skill Type','Occupation']] = df['Occupational Skill Type'].str.extract(r'(\w+) - (.*)')

In [36]:
df

,2016,2017,2018,2019,2020,2021,2022,2023,province_region,Skill Type,Occupation
3,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460",Canada,0,Management occupations
4,"1,065","1,196","1,153","2,492","2,887","2,499","6,739","10,035",Canada,1,"Business, finance and administration occupations"
5,"3,350","3,238","3,465","5,003","4,200","5,360","9,419","7,204",Canada,2,Natural and applied sciences and related occup...
6,617,478,401,682,869,972,"1,778","2,552",Canada,3,Health occupations
7,"6,797","7,458","9,003","7,153","4,451","5,515","5,142","5,467",Canada,4,"Occupations in education, law and social, comm..."
...,...,...,...,...,...,...,...,...,...,...,...
191,83,15,38,33,4,6,21,29,Nunavut,6,Sales and service occupations
192,15,2,19,16,7,21,8,28,Nunavut,7,"Trades, transport and equipment operators and ..."
193,0,0,0,0,0,0,0,0,Nunavut,8,"Natural resources, agriculture and related pro..."
194,0,0,0,0,0,0,0,0,Nunavut,9,Occupations in manufacturing and utilities
195,130,27,104,60,23,43,41,82,Nunavut,NaN,NaN

In [37]:
# Define the desired column order
desired_order = ['province_region', 'Occupation','Skill Type', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
# Reorder the DataFrame using the desired column order
df = df[desired_order]

In [38]:
df

,province_region,Occupation,Skill Type,2016,2017,2018,2019,2020,2021,2022,2023
3,Canada,Management occupations,0,"1,834","1,701","1,452","2,180","2,646","2,569","3,894","4,460"
4,Canada,"Business, finance and administration occupations",1,"1,065","1,196","1,153","2,492","2,887","2,499","6,739","10,035"
5,Canada,Natural and applied sciences and related occup...,2,"3,350","3,238","3,465","5,003","4,200","5,360","9,419","7,204"
6,Canada,Health occupations,3,617,478,401,682,869,972,"1,778","2,552"
7,Canada,"Occupations in education, law and social, comm...",4,"6,797","7,458","9,003","7,153","4,451","5,515","5,142","5,467"
...,...,...,...,...,...,...,...,...,...,...,...
191,Nunavut,Sales and service occupations,6,83,15,38,33,4,6,21,29
192,Nunavut,"Trades, transport and equipment operators and ...",7,15,2,19,16,7,21,8,28
193,Nunavut,"Natural resources, agriculture and related pro...",8,0,0,0,0,0,0,0,0
194,Nunavut,Occupations in manufacturing and utilities,9,0,0,0,0,0,0,0,0
195,Nunavut,NaN,NaN,130,27,104,60,23,43,41,82

In [39]:
df = df.reset_index(drop=True)

In [40]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'Table17_Positive_LMIAs_By_NOC_SkillType_Province_2016_2023_cleaned.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)