In [86]:
import pandas as pd
import os

In [87]:
#import table 4 file
df = pd.read_csv(r'../raw_data/Table06_TFW_Positive_LMIAs_By_NAICS_Province_2016_2023.csv', encoding='ISO-8859-1')
df

,Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
...,...,...,...,...,...,...,...,...,...
367,2. The sum of the subtotals of TFW positions m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,3. Each LMIA application submitted is restrict...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,"4. The LMIA System tracks TFW positions only, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,5. The numbers appearing in this release may d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,6. As of the publication of 2023 annual data (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df = df.iloc[:-7]

In [89]:
df.head(20)

,Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
9,Goods-Producing Industry Sectors - Total,"62,865","70,064","78,837","87,750","89,466","96,226","136,983","143,510"
10,41 Wholesale Trade,737,609,"1,461",691,"1,187","1,053","2,398","2,573"
11,44-45 Retail Trade,"1,953","2,176","1,804","2,936","2,784","2,603","6,566","8,906"
12,48-49 Transportation and Warehousing,"2,091","2,842","2,552","6,728","5,495","4,514","10,198","11,106"
13,51 Information and Cultural Industries,"3,397","2,187","1,617","1,916","1,103","1,114","2,354","1,890"
14,52 Finance and Insurance,185,157,148,184,247,219,473,718
15,"53 Real Estate, Rental and Leasing",162,121,58,157,179,170,530,739
16,"54 Professional, Scientific and Technical Serv...","2,620","2,370","3,285","4,729","4,358","5,803","10,696","8,524"
17,55 Management of Companies and Enterprises,93,75,21,29,19,18,59,66
18,"56 Administrative and Support, Waste Managemen...",821,874,905,"1,840","1,989","1,716","5,832","6,016"
19,61 Educational Services,573,538,516,633,736,660,"1,040","1,146"

In [90]:
#rename the 1st column
df.rename(columns={
    'Number of temporary foreign worker (TFW) positions on positive Labour Market Impact Assessments (LMIAs) by North American Industry Classification System - 2002 (NAICS) and province/territory': 'NAICS Codes and Industry Sectors',
    'Unnamed: 1' : '2016',
    'Unnamed: 2' : '2017',	
    'Unnamed: 3' : '2018',	
    'Unnamed: 4' : '2019',	
    'Unnamed: 5' : '2020',	
    'Unnamed: 6' : '2021',	
    'Unnamed: 7' : '2022',	
    'Unnamed: 8' : '2023'
    }, inplace= True)

C:\Users\Johnn\AppData\Local\Temp\ipykernel_4364\2055195492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

In [91]:
df.head(30)

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
9,Goods-Producing Industry Sectors - Total,"62,865","70,064","78,837","87,750","89,466","96,226","136,983","143,510"
10,41 Wholesale Trade,737,609,"1,461",691,"1,187","1,053","2,398","2,573"
11,44-45 Retail Trade,"1,953","2,176","1,804","2,936","2,784","2,603","6,566","8,906"
12,48-49 Transportation and Warehousing,"2,091","2,842","2,552","6,728","5,495","4,514","10,198","11,106"
13,51 Information and Cultural Industries,"3,397","2,187","1,617","1,916","1,103","1,114","2,354","1,890"
14,52 Finance and Insurance,185,157,148,184,247,219,473,718
15,"53 Real Estate, Rental and Leasing",162,121,58,157,179,170,530,739
16,"54 Professional, Scientific and Technical Serv...","2,620","2,370","3,285","4,729","4,358","5,803","10,696","8,524"
17,55 Management of Companies and Enterprises,93,75,21,29,19,18,59,66
18,"56 Administrative and Support, Waste Managemen...",821,874,905,"1,840","1,989","1,716","5,832","6,016"
19,61 Educational Services,573,538,516,633,736,660,"1,040","1,146"
20,62 Health Care and Social Assistance,732,661,785,"1,432","1,844","1,928","4,517","6,602"
21,"71 Arts, Entertainment and Recreation","1,153",932,995,992,333,452,"1,257","1,228"
22,72 Accommodation and Food Services,"5,805","6,695","6,480","11,803","10,152","10,432","31,635","36,786"
23,81 Other Services (except Public Administration),"6,968","7,717","9,384","8,526","5,228","6,201","8,060","9,483"
24,91 Public Administration,143,104,140,105,151,85,210,325
25,Services-Producing Industry Sectors - Total,"27,433","28,058","30,151","42,701","35,805","36,968","85,825","96,108"
26,Canada - Total,"90,314","98,146","108,988","130,457","125,279","133,196","222,847","239,646"
27,Newfoundland and Labrador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NAICS Codes and Industry Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,2016,2017,2018,2019,2020,2021,2022,2023

In [92]:
df.sample(20)

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
252,"56 Administrative and Support, Waste Managemen...",321,287,269,402,211,170,727,"1,175"
328,"54 Professional, Scientific and Technical Serv...",0,0,0,2,2,0,1,2
69,55 Management of Companies and Enterprises,0,0,0,0,0,0,0,0
209,Saskatchewan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,41 Wholesale Trade,161,177,431,178,244,177,574,728
362,91 Public Administration,0,0,0,0,0,0,0,0
194,48-49 Transportation and Warehousing,75,59,50,406,359,440,941,"1,183"
257,81 Other Services (except Public Administration),"1,399","1,390","1,595","1,348",499,748,"1,134","1,484"
113,Goods-Producing Industry Sectors - Total,"1,134","1,506","1,036","1,537","2,425","2,358","6,154","3,861"
78,Prince Edward Island - Total,946,"1,056","1,012","1,179","1,724","1,504","2,291","1,711"
180,91 Public Administration,34,24,38,15,12,19,30,103
333,"71 Arts, Entertainment and Recreation",5,3,0,0,0,0,0,0
75,81 Other Services (except Public Administration),6,0,0,5,43,2,21,9
191,Goods-Producing Industry Sectors - Total,765,853,875,"1,008","1,131",878,"1,540","1,763"
278,"56 Administrative and Support, Waste Managemen...",150,222,177,494,445,531,"1,164","1,169"
348,41 Wholesale Trade,0,0,1,0,0,0,0,0
62,41 Wholesale Trade,0,62,1,2,164,5,52,26
293,23 Construction,0,18,0,3,1,0,5,0
275,"53 Real Estate, Rental and Leasing",33,47,19,43,44,53,122,168
346,31-33 Manufacturing,0,0,0,0,0,0,0,0

In [93]:
#Drop rows where Nan value
df = df.dropna(how='any')

In [94]:
#  Remove rows that contain "Total" adn Nan value (since these are summary rows)
df = df[~df['NAICS Codes and Industry Sectors'].str.contains('Total', na=False)]

In [95]:
df

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
4,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
5,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
6,22 Utilities,143,121,89,45,53,63,58,176
7,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
8,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
...,...,...,...,...,...,...,...,...,...
358,62 Health Care and Social Assistance,1,1,1,0,0,3,4,1
359,"71 Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0
360,72 Accommodation and Food Services,0,0,2,6,3,1,35,0
361,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0
362,91 Public Administration,0,0,0,0,0,0,0,0

In [96]:
df.reset_index(drop= True)

,NAICS Codes and Industry Sectors,2016,2017,2018,2019,2020,2021,2022,2023
0,"11 Agriculture, Forestry, Fishing and Hunting","53,534","60,022","69,065","72,516","72,643","77,916","90,101","102,226"
1,21 Mining and Oil and Gas Extraction,631,463,258,381,614,524,955,"1,015"
2,22 Utilities,143,121,89,45,53,63,58,176
3,23 Construction,"3,406","3,430","3,396","5,714","4,565","5,790","13,899","15,360"
4,31-33 Manufacturing,"5,151","6,028","6,029","9,094","11,591","11,933","31,970","24,733"
...,...,...,...,...,...,...,...,...,...
275,62 Health Care and Social Assistance,1,1,1,0,0,3,4,1
276,"71 Arts, Entertainment and Recreation",13,1,0,0,0,0,0,0
277,72 Accommodation and Food Services,0,0,2,6,3,1,35,0
278,81 Other Services (except Public Administration),5,6,3,2,2,2,1,0
279,91 Public Administration,0,0,0,0,0,0,0,0

In [97]:
#Define the dedicated folder path
folder_path = 'C:/Users/Johnn/Desktop/Data Engineer project/LMIA_evaluation_project/clean_data'
csv_file = os.path.join(folder_path, 'Table06_TFW_Positive_LMIAs_By_NAICS_Province_2016_2023_cleaned.csv')

# Save the DataFrame to CSV
df.to_csv(csv_file, index=False)